/* 
    Document   : mystyle
    Created on : 30-May-2010, 21:58:32
    Author     : frogprincess
    Description:
        Purpose of the stylesheet follows.
*/

span.cloud, span.cloud a {
    display: inline-block;
    text-decoration: none;
}

ul {
    list-style: none;
}

a {
    outline: none;
}


.hide_text {
    /*position:absolute;*/
    /*left: -3000px;*/
}

/*blog*/
body#blog span.comments {
    display: inline-block;
    float: left;
    height: 30px;
    width: 27px;
    padding: 12px 0 0 8px;
    margin-right: 10px;
    text-align: center;
}

body#blog h2.blog-h2 {
    padding-top: 4px;
    margin-bottom: 0;
}

body#blog pubdate {
    display: block;
    margin-bottom: 20px;
}

#tags {
    text-align: justify;
}

.tag1 {  font-size: 12px;  }

.tag2 {  font-size: 14px;  }

.tag3 {  font-size: 16px;  font-weight: bold;  }

.tag4 {  font-size: 20px;  font-weight: bold;  }

/*form*/
form fieldset {
    padding-left: 70px;
}

form#commentform {
    padding: 0 20px;
}

form dl {
    margin-bottom: 0.5em;
}

form dl.submitbutton {
    text-align: center;
}

form ul {
    margin: 0;
    padding: 0;
}

div#recaptcha_area {
    width: 442px;
}

label {
    display: inline-block;
    width: 100px;
}

#subscriberform label, form#commentform label {
    width: 100%;
}

span.errorlabel {
    color: red;
    display: inline;
}

input#captcha {
    display: none;
}



/* Admin */
ul.entry-list a {
    display: inline;
}

ul.entry-list h3.hide1 {
    color: #aaaaaa;
    font-style: italic;
}